@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tangerine:wght@400;700&display=swap');
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --dark1: #222;
    --dark2: #777;
    --dark-opacity: #0003;
    --main1: #f8bf2c;
    --main2: #F2B410;
    --light1: #fff; 
    --light2: #ddd;
    scroll-behavior: smooth;
    
}
body {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
nav {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
}

.comic-title {
    font-family: "Tangerine", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 4rem;
    color: var(--main2);    
}
/* Botones */
.button {
    /* width: 170px; */
    margin: auto;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 2px;
    cursor: pointer;
    user-select: none;
    transition: .5s;
    display: inline-block;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: .8rem;
    letter-spacing: 3px;
}
.bclaro {
    background-color: var(--dark-opacity);
    color: var(--light1);
    border: 1px solid var(--dark2);
}
.bclaro:hover {
    background-color: #fff2;
    color: var(--light1);
    border: 1px solid var(--light1);    
}
.bmain {
    background-color: var(--main2);
    color: var(--light1);
    /* border: 1px solid var(--light1); */
    border: 7px double var(--light1);
}
.bmain:hover {
    background-color: var(--main1);
    
}
/* Secciones */
section {
    padding: 80px 30px;
}
.section-container {
    max-width: 900px;
    margin: auto;
}
section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.centrada {
    text-align: center;
}
/* Párrafos */
p {
    color: var(--dark2);
    line-height: 1.5rem;
    font-size: .9rem;

}



figure {
    text-align: left;
    margin: 20px auto 0;
    max-width: 500px;
}
figure img {
    width: 100%;
    
}



/* HEADER  */
.main-header {    
    background-image: linear-gradient(#000a,#000a),url(../img/mesa6.jpg);
    background-position: center;
    background-size: cover;
    color: var(--light2);
}
.header-container {    
    background-color: var(--dark-opacity);
    padding: 20px 10px;
    height: 70px;
    position: fixed;
    left: 0;
    right: 0;
    transition: 2s;
    z-index: 100;
    
}
.header-container > .section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#author {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--light2);
}
.fa-bars {
    font-size: 2rem;
    color: var(--light2);
}
.fa-bars:hover {
    color: var(--light1);
    cursor: pointer;
}
.main-header-title{
    text-align: center;
    padding: 200px 20px;
}
.main-header-title h1 {
    color: var(--light1);
    margin: 10px 0;
}
.main-header-title p {
    color: var(--light2);
    font-weight: 700;
}
.main-header-title .button {
    margin-top: 30px;
}

/* MAIN MENU  */

.main-menu {
    position: fixed;
    top: 70px;
    right: -100%;
    bottom: 0;
    width: 100%;
    background-color: #000e;
    padding: 50px 20px;
    transition: .5s;
}
.main-menu li{
    margin-bottom: 1.5rem;
    list-style: none;
    text-align: center;
}
.main-menu a {
    font-weight: 600;
    text-decoration: none;
    color: var(--light1);  
    transition: .5s; 
}
.main-menu a:hover {
    color: var(--main1);
}

/* SECTION HISTORIA */
#historia .button {
    margin-top: 30px;
}

/* SECTION FAVORITA */
#favorita {
    padding: 150px 20px;
    background-image: linear-gradient(#0008,#0008),url(../img/mesa2.jpg);
    background-size: cover;
    color: var(--light1);
    background-position: center;
}

/* RECETAS */ 
#recetas {

}
.contenedor-recetas {
    display: flex;
    flex-wrap: wrap;
    gap: 30px
}
.recetas {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.recetas img {
    width: 100%;
}


/* SECTION GALERIA*/
#galeria {
    background-color: black;
}
#galeria h2 {
    /* color: var(--light1); */
}

.galeria {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.galeria li {
    overflow: hidden;
    border: 1px solid var(--main1);
    border-radius: 10px;
}

.galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
    cursor: pointer;
    transition: .5s;
    opacity: .6;
}
.galeria img:hover {
    scale: 110%;
    opacity: 1;
}

.galeria li:nth-child(3) {
    grid-row: span 2;
    
}
.galeria li:nth-child(6) {
    grid-column: span 2;
    
}
.galeria li:nth-child(8) {
    grid-row: span 2;
    
}
.galeria li:last-of-type {
    grid-column: span 2;
}

/* MAIN FOOTER */
#main-footer {
    background-color: var(--dark1);
    color: var(--light1);
    padding: 50px 30px;
}

.footer-container {
    
}
.footer-column {
    padding: 30px;
}
.footer-column h4 {
    position: relative;
    margin-bottom: 20px;
}
.footer-column h4::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: var(--main1);
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    
}
.footer-column > * {
    margin-bottom: 5px;
}
.footer-logo {
    max-width: 200px;
}
.footer-column a {
    color: var(--light1);

}
.footer-column a:hover {
    color: var(--main1);
}

.social .fa{
    text-decoration: none;
    font-size: 2rem;
    margin: 20px;
    color: var(--main1);
    transition: .5s;
}
.social .fa:hover {
    color: var(--light1);
}

/* FLECHA ARRIBA */
.fa-arrow-up {
    color: var(--main1);
    position: fixed;
    right: 5px;
    bottom: 40px;
    text-decoration: none;
    font-size: 2rem;
    opacity: .7;
    z-index: 100;
    display: none;
    text-shadow: 3px 3px 3px black;
}
.fa-arrow-up:hover {
    opacity: 1;
    color: var(--main2);
}

/*  RESPONSIVE ORDENADOR  978PX*/

@media (min-width: 978px){
    /* MAIN HEADER ORDENADOR */
    
    .main-header-title img {
        width: 400px;
        margin-bottom: 30px;
    }
    .main-header-title h1 {
        color: var(--light1);
        margin: 10px 0;
        font-size: 4rem;
    }
    .main-header-title p {
        color: var(--light2);
        font-weight: 700;
    }

    /* MAIN MENU ORDENADOR */
    
    .fa-bars {
        display: none;
    }
    .main-menu {
        position: static;        
        background-color: initial;
        padding: initial;
        transition: initial;
    }
    .main-menu ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
    }
    .main-menu li{
        margin-bottom: initial;        
        text-align: center;
    }
    .main-menu a {
        font-weight: 600;
        text-decoration: none;
        color: var(--light1);  
        transition: .5s; 
    }
    .main-menu a:hover {
        color: var(--main1);
    }


    /* SECTION FAVORITA */
    #favorita {
        padding: 200px 20px;
        
    }
    #favorita .comic-title {
        font-size: 5rem;
           
    }
    #favorita h2 {
        font-size: 4rem;
    }

    /* SECCIÓN RECETAS ORDENADOR */
    .contenedor-recetas {
        display: flex;
        flex-wrap: wrap;
        gap: 50px 20px;
    }
    .recetas {
        flex: 1 1 300px;
        gap: 10px;
    }

    /* GALERIA ORDENADOR */
    .galeria {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }
    .galeria li {
        overflow: hidden;
        border: 1px solid var(--main1);
        border-radius: 10px;
    }
    
    .galeria img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: right;
        cursor: pointer;
        transition: .5s;
        opacity: .6;
    }
    .galeria img:hover {
        scale: 110%;
        opacity: 1;
    }
    
    .galeria li:nth-child(2) {
        grid-row: span 2;
        
    }
    .galeria li:nth-child(7) {
        grid-column: span 2;
        
    }
    .galeria li:nth-child(8) {
        grid-row: span 2;
        
    }
    .galeria li:last-of-type {
        grid-column: span 1;
    }
    

    /* MAIN FOOTER ORDENADOR */
    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    .footer-column {
        flex: 1 1 400px;
    }
    .logo-footer {
        max-width: 200px;
    }
}
