@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tangerine:wght@400;700&display=swap');
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --dark1: #222;
    --dark2: #777;
    --main1: #f8bf2c;
    --main2: #F2B410;
    --light1: #fff; 
    --light2: #ddd;
}
body {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
nav {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
}
nav a {
    font-weight: 600;
    text-decoration: none;
}
.comic-title {
    font-family: "Tangerine", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 4rem;
    color: var(--main2);    
}

.boton {
    width: 150px;
    margin: 30px auto 0;
    text-decoration: none;
    padding: 10px;
    border-radius: 2px;
    cursor: pointer;
    user-select: none;
    transition: .5s;
}
.bclaro {
    background-color: #0004;
    color: var(--light1);
    border: 1px solid var(--dark2);
}
.bclaro:hover {
    background-color: #fff2;
    color: var(--light1);
    border: 1px solid var(--light1);
    
}
section {
    padding: 80px 30px;
}
section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}
.centrada {
    text-align: center;
}



/* HEADER  */
.main-header {    
    background-image: linear-gradient(#000a,#000a),url(../img/ceviche.jpg);
    background-position: center;
    background-size: cover;
    color: var(--light2);
}
.header-container {
    display: flex;
    justify-content: space-between;
    background-color: #0003;
    padding: 10px;
    
}
.fa-bars {
    font-size: 1.5rem;
}
.main-header-title{
    text-align: center;
    padding: 80px 20px;
}
.main-header-title h1 {
    color: var(--light1);
    margin: 10px 0;
}
.main-header-title p {
    font-size: .8rem;
}
    /* menu */

.main-menu {
    position: fixed;
    width: 300px;
    background-color: var(--dark1);
    padding: 20px;
    right: -300px;
}
.main-menu li{
    margin-bottom: 1.5rem;
}
.main-menu a {
    color: var(--light1);
    
}

